.nav-item{
  margin:20px;
  
}
.nav-link{
  color: #000 !important;
  font-weight: 500;
}

.search-input{
  border-radius: 10px;
  background-color: #e9e3e3;
}
.btn-search{
  background-color:#e9e3e3;
}